/* #footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    padding: 1% 0; 
    background-color: black; 
    color: white;
    
} */

