/* #header {
    display:flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    width: 100%;
    padding: 1% 10px; 
    background-color: black; 
    color: white
}
.header-l {
    flex: 1
}
.header-c {
    flex: 5;
    display: flex;
    justify-content: space-evenly;
}
.header-r {
    flex: 1;    
    display: flex;
    justify-content: space-around;
}
#header a {
    text-decoration: none;
    color: white;
} */
