.post {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    background-color: white;
    /* border: 1px solid #f2f5fa; */
}
.post-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.post-icons {
    width: 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.post-date {
    font-style: italic;
}
a {
    text-decoration: none;
    color: black;
}
.delete-icon:hover {
    cursor: pointer;
}