/* ========== CSS RESET ========== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #f2f5fa; /* Added light gray background */
}


/* ========== UNIVERSAL SELECTOR ========== */
* {
  box-sizing: border-box;
  max-width: 100%; 
}

/* ========== GENERAL STYLING ========== */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* 1.6rem = 16px */
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace; 
}
span {
  font-weight: bold;
}
h1 {
  font-size: 3.2rem; 
  /* font-weight: bold; */
}
h2{
  font-size: 2.4rem;
  /* font-weight: bold; */
}
h3{
  font-size: 2rem;
  font-weight: bold;
}

/* ========== HEADER ========== */
#header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 1% 10px; 
  background-color: black; 
  color: white
}
.header-l {
  /* flex: 1; */

}
/* .header-c {

} */
.header-r {
  /* flex: 1;     */
  width:25%;
  display: flex;
  justify-content: space-evenly;
}
#header a {
  text-decoration: none;
  color: white;
}

/* ========== HOME ========== */
#home {
  display:flex;
  width: 100%;
  padding: 1%; 
}
